*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    width: 400px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 10px;
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(75, 75, 75);
    border-radius: 22px;
    
}
h1{
    text-align: center;
    color: rgb(255, 110, 110);
    margin-top: 10px; 
    margin-bottom: 10px; 
}
hr{
    margin-bottom: 5px;
}
.ebox{
    display: flex;
    justify-content: center;
}
.pbox{
    display: flex;
    justify-content: center;
}
input{
    height: 35px;
    border-radius: 20px;
    /* padding-left: 10px; */
    border: none;
    outline: none;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.btn{
    display: flex;
    width:100%;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sub_but{
    height: 35px;
    width: 88px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: rgb(255, 110, 110);
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.sub_but:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #888888;
}

p{
    color: white;
    text-align: center;
}